@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Video Store DB</h1>
  <p class="lead">Video Store DB is an ASP.NET MVC application that communicates with an SQLServer using Entity Framework and LINQ.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Current studies</h2>
        <p>I'm currently studying Backend Development at Lernia, Higher Vocational Education in Sweden.</p>
      <p>This project is a part of those studies.</p>
    </div>
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>This project is hosted on my account at GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/manx/VideoStore.git">Go to Repo!</a></p>
    </div>
</div>